*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #f1f1f1;
}
.about-us{
    padding: 100px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;

}
.image{
    background-color: #BC86B9;
    width: 400px;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px 3px #833a82;

}

.img1{
    height: 300px;
    width: 400px;
    border-radius: 10px;
}



.content-section{
    flex: 1;
    margin-left: 40px;
}
.content-section h2{
     font-size: 35px;
     margin-bottom: 20px;
}
.content-section p{
    font-size: 18px;
    line-height: 1.6;
}
.content{
    text-align: center;
}
.sec-content{
    text-align: center;
    font-size: 40px;
}
.section1 .video{
    width:70%;
    height:100%;
    margin: 30px auto 0 auto;
}
.section1 .video video{
    width:80%;
    height:20%;
    border-radius: 20px;
    margin-left: 80px;
}


.container{
	width: 100%;	
	
	
}
.navbar{
	background: linear-gradient(to bottom right,#0D010E 10%,#350C34 20%,#652761,#8F4787,#BC86B9);

	width: 100%;
	position: fixed;
	top: 0px; 
	left: 0px; 
	height: 100px;
	display: flex;
	align-items: center;
	z-index: 5;
/*	padding: 20px;*/
}
nav{
	position: sticky;
	top: 0px;
	flex: 1;
	text-align: right;
	margin-right: 50px;
	
}
nav a{
	text-decoration: none;
	color: #F6CACA;
}
nav a:hover{
	color: #ff0088;
	transform: scale(1.1);
	transition: 0.5s;
}
nav ul{
	list-style: none;
	display: inline-block;
}
nav ul li{
	font-size: 20px;
	display: inline-block;
	margin-right: 25px;
	margin-top: 0px;
}
nav ul li:hover{
	border: 1px solid black;
	border-radius: 50%;
	padding: 2px 9px;
	
}

.offer{
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
}

.image:hover{
    cursor: pointer;
}
.image:active{
    transform: scale(0.8);
}

.img1{
	width: 100%;
    height: 100%;
}
