.body{background-color:pink;}
.heading{background-color: rgb(200, 156, 241);font-size: 60px;border:10px double rgb(56, 3, 105) ;border-radius:50px ;display: flex;justify-content: center;color: white;}
.product-card{height:400px;width:250px;margin-bottom:20px ;padding-left:20px ;    background-color:fuchsia;box-shadow: 20px white;border-radius: 30px;padding: 1%;}
.img{height: 150px;width: 200px;  border-radius:30px ;margin:20px;margin-left:10%;}
.product-title{display: flex;justify-content: center;font-size: 30px;margin: 10px;color:white;}
.product-description{font-size:30pxpx;color:white;}
.product-price{font-size: 30px;color:white ;display: flex;justify-content: center;}
.product-container{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;margin: 5px;padding: 10px;}
.product-card:hover{cursor:pointer ;border-radius:60px ;background-color: blueviolet;box-shadow :10px;}

.navbar-menu-container{margin-left:200px ; }
.navbar{border-radius:20px ;
   background-color:orchid;
   height: 80px;
   padding:10px;
   display: flex;}
   .navbar-icon{height: 50px;}
   .navbar-brand{
       font-size:30px ;
       color:white ;
       font-weight:bold ;
       margin-left:10px ;}
       .navbar{margin:10px ;}




                @media only screen and (max-width: 600px){
                    .product-card{width:200px ;}
                    .img{width: 100px;}
                    .product-description{font-size:12px ;}
                    .product-title{font-size:20px ;}

                }
  

                .footer{
                    padding: 10px 40px;
                    background-color:purple;
                   }
                   .footer-details{
                    display: flex;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    align-items: flex-start;
                
                   }
                   .sercive{
                    padding: 10px 0;
                    width: 200px;
                    color: aliceblue;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                
                   }
                   .sercive span{
                    display: flex;
                    align-items: center;
                   }
                   .sercive h3{
                    margin-left: -130px;
                    margin-bottom: 20px;
                   }
                   .location-img{
                    width: 20px;
                   }
                   .text{
                     margin-top: 10px;
                     font-size: 20px;
                   }
                   .text-1{
                    font-size: 25px;
                    margin-top: 40px;
                    
                    
                    color:white;
                    text-align: center;
                   }
                   .foot{
                    margin-top: -30px;
                    width: 220px;
                   }
                   .foot h3{
                    margin-left: -50px;
            
                   }
                   .social-media{
                    width: 3px;
                    margin: 10x;
                   }
                   .social-img{ 
                    width: 20px;
                    height: 20px;
                   } 
 

                   .navbar{
                    background: linear-gradient(to bottom right,#0D010E 10%,#350C34 20%,#652761,#8F4787,#BC86B9);
                margin-right:2px ;
                    width:100%;
                    top: 0px; 
                    left: 0px; 
                    height: 100px;
                    display: flex;
                    align-items: center;
                    z-index: 5;
                	padding: 20px;
                }
                nav{
                    position: sticky;
                    top: 0px;
                    flex: 1;
                    text-align: right;
                     margin-right:10px ;
                    
                }
                nav a{
                    text-decoration: none;
                    color: #F6CACA;
                }
                nav a:hover{
                    color: #ff0088;
                    transform: scale(1.1);
                    transition: 0.5s;
                }
                nav ul{
                    list-style: none;
                    display: inline-block;
                }
                nav ul li{
                    font-size: 20px;
                    display: inline-block;
                    margin-right: 25px;
                    margin-top: 0px;
                }
                nav ul li:hover{
                    border: 1px solid black;
                    border-radius: 50%;
                    padding: 2px 9px;
                    
                }             
                  @media only screen and (max-width: 600px){
                .navbar{margin-left: auto;
                margin-right: auto;display: flex;flex-direction: column;  justify-content: center;}
                .navbar{  display: column; 
                height:auto ;}
                .nav ul li{display: block;
                margin: 10px;
        text-align: center;}} 
           
           
    








