*  {
    padding: 0;
    margin: 0;
}

body{
    background-color: #f1f1f1;
}

.form-container{
    height: 380px;
    width: 320px;
    background-color: white;
    border-radius:5px;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    box-shadow: 2px 2px 9px 5px rgb(158, 158, 158);

  
}

.btn_signup{
   background-color: rgb(0, 140, 255);
   border-radius: 10px;
   font-weight: bold;
   cursor: pointer;
   width: 100px;
   padding-left: 70px;
   padding-right: 100px;
   padding-top: 8px;
   padding-bottom: 8px;
   text-align: center;
   color: white;
   margin-left: 15px;
   border: 1px solid  rgb(0, 140, 255) ;
   cursor: pointer;
   

}

.btn_signup:hover{
    background-color: rgb(8, 127, 224);
}

.signup-form{
    font-size:20px ;
    padding-top: -10px;
    margin-left: 60px;
   
 }

 .text-menu{
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    padding: 3px 5px;
    border: 1px solid   #8F4787;
 }

 .next_page{
    margin-left: 70px;
 }

 .text-menu:hover{
  box-shadow: 0px 0px 8px 2px  #e0a2da;
 }

 .container{
	width: 100%;	
	
	
}
.navbar{
	background: linear-gradient(to bottom right,#0D010E 10%,#350C34 20%,#652761,#8F4787,#BC86B9);

	width: 100%;
	position: fixed;
	top: 0px; 
	left: 0px; 
	height: 100px;
	display: flex;
	align-items: center;
	z-index: 5;
/*	padding: 20px;*/
}
nav{
	position: sticky;
	top: 0px;
	flex: 1;
	text-align: right;
	margin-right: 50px;
	
}
nav a{
	text-decoration: none;
	color: #F6CACA;
}
nav a:hover{
	color: #ff0088;
	transform: scale(1.1);
	transition: 0.5s;
}
nav ul{
	list-style: none;
	display: inline-block;
}
nav ul li{
	font-size: 20px;
	display: inline-block;
	margin-right: 25px;
	margin-top: 0px;
}
nav ul li:hover{
	border: 1px solid black;
	border-radius: 50%;
	padding: 2px 9px;
	
}