*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
/* .home{
	
} */
.row{
	margin-top: 70px;
}
.menu-icon{
	width: 30px;
	display: none;
	position: fixed;
	right: 20px;
	top: 50px;
}
 #cart-icon{
	width: 30px;
	position: fixed;
	right: 120px;
	top: 35px;
} 
.container{
	background: linear-gradient(to bottom right,#0D010E 10%,#350C34 20%,#652761,#8F4787,#BC86B9);
	width: 100%;
    /* margin-top: -100px; */
	/* height: 700px;	 */
	/* line-height: 700px; */
	
	
}
.navbar{
	 background: linear-gradient(to bottom right,#0D010E 10%,#350C34 20%,#652761,#8F4787,#BC86B9);

	width: 100%;
	position: fixed;
	top: 0px; 
	left: 0px; 
	height: 100px;
	display: flex;
	align-items: center;
	z-index: 5;
	box-sizing: border-box;
	justify-content: space-between;
/*	padding: 20px;*/
}
nav{
	/* position: sticky; */
	top: 0px;
	/* flex: 1; */
	text-align: right;
	margin-right: 170px;
	
}
nav a{
	text-decoration: none;
	color: #F6CACA;
	/* color:white; */
}
nav a:hover{
	color:#ff0088;
	transform: scale(1.1);
	transition: 0.5s;
	padding: 5px 7px;
	/* box-shadow: 0 0 3px 2px ; */
}
nav ul{
	list-style: none;
	display: inline-block;
}
nav ul li{
	font-size: 20px;
	display: inline-block;
	margin-right: 25px;
	margin-top: 0px;
}
nav ul li:hover{
	border: 1px solid black;
	border-radius: 50%;
	padding: 2px 9px;
	
}
.col-2 a{

	text-decoration: none;
	color: #F6CACA;
}
.col-2 img{
	margin-top: 50px;
}
p{
	color:  #F6CACA;
	text-transform: capitalize;
}
.row{

	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;

}
.col-2{
	margin-top: 150px;
	min-width: 200px;
}

.col-2 img{
	max-width: 100%;
	padding: 50px 0px;
}

.col-2 h1{
	color: #8AF8F7;
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0px 25px -170px;
}

.col-2 a{
	background-image: url('./img/home-img/rightarrow.png');
	background-repeat: no-repeat;
	background-size: 30px 20px;
	background-position: center right;
}

.btn{
	display: inline-block;
	background: white;
	/* color: purple; */
	color:black;
	padding: 8px 30px;
	margin: 30px 0px;
	border-radius: 30px;
	transition: 0.5s;
}

.btn:hover{
	background: purple;
}


/* Features css start here */
.heading{
	text-align: center;
	margin-top: 30px;
}

h3{
	text-align: center;
	font-size: 30px;
	margin:0;
	padding-top: 10px;

}
.kid-img{
	width: 200px;
	height: 300px;
}
.gallery{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}
.content{
	width: 290px;
	margin: 35px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	/* border: 3px solid red; */
	/* border: 3px dolid grey; */
	border-radius: 20px;
	cursor: pointer;
	padding-top: 10px;
	/* justify-content: space-evenly; */
	box-shadow: 0 0 2px 3px #858383;
	transition: -4s;

}
.content:hover{
	box-shadow: 0 3px 6px #5a5656;
	transform: translate(0px, -8px);
}
.more-btn{
	text-align: center;
	font-size: 20px;
	width: 100%;
	padding: 15px;
	cursor: pointer;
	margin-top: 5px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius:20px ;
	background-color: purple;
	color: white;
}

.more-btn a{
	text-decoration: none;
	color: white;
}


/* +++++++++++++++++++++++++++++++++++++ */

.offer-img{
	width: 100%;
	height: 300px;
	
}
.special-container{
	position: relative;
}
.special-description{
	position: absolute;
	top: 50px;
	left:100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: white;
}
.special-description h3{
	width: 230px;
	margin: 0px 100px ;
	font-size: 45px;
}
.arival-heading{
	font-size:40px;
	margin-top: 40px;
	color:purple;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.product-details{
	margin-top: 60px;
	background-color: #b6b2b2;
	display: flex;
	flex-wrap: wrap;
	padding: 50px 0;
	justify-content: center;
   }
	.card-container{
		width: 300px;
		height: 550px;
		margin: 20px 20px;
		border: 2px solid grey;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		box-shadow: 0px 0px 5px ;
		background-color: white;
	   
	}
	.card-container .heart-img{
	width: 30px;
	position: absolute;
	top: 20px;
	right: 20px;
	}
	.product{
		width: 150px;
		height: 190px;
		position: absolute;
		top: 30px;

	}
	.product .product-img{
		width: 100%;
		height: 100%;
	}
	.card-container .description{
		text-align: center;
		position: absolute;
		top: 225px;
		font-size: 20px;
		/* color: blueviolet; */
	}
	.sub-produc{
		width: 300px;           
		display: flex;
		justify-content: space-around;
		margin-top: 50px;
	   margin-left: -75px;

	}
	.sub-produc img{
		width: 80px;
		height: 100px;
		border: 2px solid grey;
	}
	.card-container .price{
		position: absolute;
		bottom: 125px;
	   

	}
	.quantity-card{
		width: 300px;
		display: flex;
		justify-content: space-around;
		position: absolute;
		/* margin-top: 30px 0px; */
		bottom: 70px;
		 /* border: 2px solid red; */ */
	}
	.quantity-card img{
		width: 30px;
	}
	.buy-now-btn{
		font-size: 15px;
		color: white;
		width: 200px;
		padding: 10px ;
		border-radius: 10px;
		background-color:purple;
		position: absolute;
		bottom: 10px;
	}
	
	/* ++++++++++++++++++++++++++++++Fotter Css+++++++++++++++++ */
	.footer{
		padding: 10px 40px;
		background-color:purple;
	   }
	   .footer-details{
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		align-items: flex-start;
	
	   }
	   .sercive{
		padding: 10px 0;
		width: 200px;
		color: aliceblue;
		display: flex;
		flex-direction: column;
		justify-content: center;
		cursor: pointer;
	
	   }
	   .sercive span{
		display: flex;
		align-items: center;
	   }
	   .sercive span:hover{
		text-decoration: underline;
	   }
	   .sercive h3{
		margin-left: -130px;
		margin-bottom: 20px;
	   }
	   .location-img{
		width: 20px;
	   }
	   .text{
		 margin-top: 10px;
		 font-size: 20px;
	   }
	   .text-1{
		font-size: 25px;
		margin-top: 40px;
		
		
		color:white;
		text-align: center;
	   }
	   .foot{
		margin-top: -30px;
		width: 220px;
	   }
	   .foot h3{
		margin-left: -50px;

	   }
	   .social-media{
		width: 3px;
		margin: 10x;
	   }
	   .social-img{ 
		width: 20px;
		height: 20px;
	   } 
	



	   /* +++++++++++++++media-query start here+++++++++++++== */
	   @media screen and (max-width: 1230px)
	    {

		.home{
			width: 100%;
		}
		.container{
			width: 100%;
		}
		.navbar{
			width: 100%;
			display: flex;
			flex-direction: row;
		}


		.col-2 img{
			margin: 0;
			padding: 0;
			width: 400px;
			height: 300px;
		}
		.heading{
			font-size: -20px;
			color: #8AF8F7;
		}
		p{
			color:  #F6CACA;
			text-transform: capitalize;
		}
		/* .row{
			display: flex;
			flex-direction: row;
			justify-content: center;
		} */
		.col-2{
			padding: 0;
			min-width: 40%;
			margin-left: 20px;
		}
		
		.col-2 h1{
			font-size: 40px;
			line-height: 60px;
			margin: 25px 0px 0 -220px;
		}		
		
		/* .card-container{
			width: 300px;
			height: 520px;
			margin: 20px 20px;
			border: 2px solid grey;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
			box-shadow: 0px 0px 5px ;
			background-color: white;
		   
		} */













		.offer-img{
			width: 100%;
			height: 200px;
		}
		.special-description{
			position: absolute;
			top: 50px;
			left: 200px;
		}
		.special-description h3{
			width: 30px;
			margin: 0px 100px ;
			font-size: 25px;
			display: flex;
        justify-content: space-evenly;
        }
		
	   }

	   @media screen and (max-width: 970px){

		.home{
			width: 970px;
		}
		.container{
			width: 970px;
		}
		.navbar{
			width: 970px;
		}

		.col-2 img{
			margin: 0;
			padding: 0;
			width: 420px;
			height: 340px;
		}
		.heading{
			color: #8AF8F7;
			font-size: 30px;
			line-height: 60px;
			/* margin: 25px 0px 0 -20px; */
			margin-left: 150px;
			/* border: 2px solid red; */
		}
		p{
			color:  #F6CACA;
			text-transform: capitalize;
		}
		.row{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
		}
		.col-2{
			min-width: 40%;
			/* margin-left: 20px; */
		}
		.col-2 h1{
			margin-left: -55px;
		}
			
		#col-1{
			width: 350px;
			margin-left: 30px;
		}
	   }









	   @media screen and (max-width: 800px)
	   {

		.home{
			width: 800px;
		}
		.container{
			width: 800px;
		}
		.navbar{
			width: 800px;
		}

		.menu-icon{
			width: 40px;
			margin-right: 20px;
			display: block;
			right: 20px;
			top: 30px;
		}
		nav ul{
			margin-top: 270px;
			margin-right: -180px;
			text-align: center;
			display: none;
		}
		nav ul li{
			font-size: 20px;
			border: 2px solid grey;
			/* background-color: white; */
			background-color: purple;
			border-radius: 10px;
			padding: 5px 15px;
			color: black;
			
			display: flex;
			/* margin-right: 25px; */
			margin-top: 5px;
		}

		.col-2{
			min-width: 90%;
			/* margin-left: 20px; */
		}
		.col-2 h1{
			margin-right: 300px;
			/* border: 2px solid red; */
			padding: 0 0;
		}

		.col-2 img{
			margin: 0;
			padding: 0;
			width: 520px;
			height: 440px;
			margin-right: 50px;
			margin-top: -150px;
		}

		.col-2 h1{
			margin-left: -55px;
			font-size: 50px;
		}

		.btn{
			display: inline-block;
			background: white;
			color: black;
			padding: 10px 40px;
			margin: 30px 0px;
			border-radius: 30px;
			transition: 0.5s;
			font-size: 20px;
		}
		
		.btn:hover{
			background: #226807;
		}
		.offer-img{
			width: 100%;
			height: 200px;
		}
		/* .special-description{
			position: absolute;
			top: 50px;
			left: 200px;
		} */
		.special-description h3{
			width: 20px;
			margin: 0px 70px 0 ;
			/* margin-left: 20px; */
			font-size: 20px;
			/* display: flex; */
           justify-content: space-around;
        }
	   }